<html>
	<head>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/merchant.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	
	<body>
		<div id="productsContainer" class="left">
			<% for(var i = 0; i < products.length; i++) {%>
				<div class="product-container border" productID="<%=products[i].id%>>">
					<div class="name">
						<input value="<%=products[i].name%>" name="product_<%=i%>_name" type="text"/>
					</div>
					<div class="price">
						<span>Price:</span>
						<input value="<%=products[i].price%>" name="product_<%=i%>_price" type="text"/>
					</div>
					<div class="inventory">
						<span>inventory:</span>
						<input value="<%=products[i].inventory%>" name="product_<%=i%>_inventory" type="text"/>
					</div>
					<div class="product-buttons">
						<button class="js_update-product">Update</button>
						<button class="js_remove-product">Remove</button>
					</div>
				</div>
			<% } %>
			<div id="addProductContainer" class="product-container border new-product-container">
					<div class="name">
						<input value="" name="name" type="text"/>
					</div>
					<div class="price">
						<span>Price:</span>
						<input value="" name="price" type="text"/>
					</div>
					<div class="inventory">
						<span>inventory:</span>
						<input value="" name="inventory" type="text"/>
					</div>
					<div class="product-buttons">
						<button id="addProductButton" class="js_add-product">Add</button>
					</div>
				</div>
			
		</div>
		<div id="ordersContainer" class="orders-container left border">
			<h2>Orders</h2>
			<% for(var i = 0; i < orders.length; i++) {%>
				<div class="order">
					<div>
						<span>Total price</span>
						<span><%=orders[i].getTotalPrice()%></span>
					</div>
				</div>
			<%}%>
		</div>
	</body>
</html>